h1 {
    color:black;
    text-align: center;
    font-size:3em;
    font-family:"Bangers";
}

body {
    background-image: url('SM-accueil.png');
    color: black ;
    font-family:'Arial';
    background-size:cover;
    background-attachment: fixed;
}

.logo {
    width: 70px;
    height: auto;
}

.lienH-S {
    font-size: 1.5em;
    padding: 10px 20px;
    color:white;
    text-decoration: none;
    position:absolute;
    left: 20%;
    border-radius: 10px 10px 10px 10px;
    background-color:#e70606;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.lienH-SM {
    font-size: 1.5em;
    padding: 10px 20px;
    color:white;
    text-decoration: none;
    position:absolute;
    left: 41.5%;
    border-radius: 10px 10px 10px 10px;
    background-color:#e70606;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.lienH-S2 {
    font-size: 1.5em;
    padding: 10px 20px;
    color:white;
    text-decoration: none;
    position:absolute;
    left: 70%;
    border-radius: 10px 10px 10px 10px;
    background-color:#e70606;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.lienH-S:hover, .lienH-SM:hover, .lienH-S2:hover {
    background-color:#aa0707;
}

p {
    background-color:#979797d5;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    text-align: center;
    line-height: 2;
    padding-left: 20px;
    max-width: 1300px;
    margin: 20px auto;
    border-radius: 10px 10px 10px 10px;
    font-size:2em;
}

.cata {
    text-decoration: none;
    position:absolute;
    left:95%;
    color:black;
    background-color:white;
    border:1px black solid;
    border-radius:8px 8px 8px 8px;
}

.cata:hover {
    text-decoration: underline;
}

h2 {
    color:black;
    text-align: center;
    font-size:3em;
    font-family:"Bangers";
}

footer {
    background-color: grey;
    margin-bottom: 0;
}
.footer p {
    margin-bottom: 0;
}

.ytb {
    width: 40px;
    height: auto;
    position:absolute;
    left:4%;
}

.droits {
    width: 100px;
    height: auto;
}

.red {
    color:red;
}