.logo {
  width:75px;
  height:auto;
}

.lien {
  text-decoration:none;
}

.lien:hover {
  color:grey;
  text-decoration:underline;
}

.lien:active {
  color:darkgreen;
}

body {
  font-family:'Arial';
}
