footer {
    background-color: grey;
}

.ytb {
    width: 40px;
    height: auto;
    position:absolute;
    left:4%;
}

.droits {
    width: 100px;
    height: auto;
}

.red {
    color:red;
}

footer p {
    background-color:#979797d5;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    text-align: center;
    line-height: 2;
    padding-left: 20px;
    max-width: 1300px;
    margin: 20px auto;
    border-radius: 10px 10px 10px 10px;
    font-size:2em;
}

body {
    background-image: url("spider-man-dlc.png");
    background-size: cover;
    background-attachment: fixed;
    color:white;
    font-family:'Arial';
}

.logo {
    width: 70px;
    height: auto;
}

.tit {
    color:white;
    padding:20px 120px;
    text-align: center;
    font-size:3em;
    font-family:"Bangers";
}

.DLC {
    position:absolute;
    left:40%;
}