body {
    background-image: url("S-1-wall.png");
    background-size: cover;
    background-attachment: fixed;
    color:white;
    font-family:'Arial';
}

.logo {
    width: 70px;
    height: auto;
}

h1 {
    color:white;
    padding:20px 120px;
    text-align: left;
    font-size:3em;
    font-family:"Bangers";
}

.intro p {
    font-size:x-large;
    background-color:#000000d5;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    line-height: 2;
    padding-left: 20px;
    max-width: 900px;
    /* margin: 20px 200px; */
    border-radius: 10px 10px 10px 10px;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intro iframe {
    flex:none;
}

.caca {
    font-size:x-large;
    margin: 0px 1230px;
}

header {
    display:flex;
    flex-wrap: nowrap;
    gap: 40em;
}

header h1 {
        background-color: #b00000;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        font-family: "Bangers", cursive;
        box-shadow: 2px 2px 5px black;
        display: inline-block;
}

h2 {
    color:rgb(255, 255, 255);
    padding:20px 120px;
    text-align: left;
    font-size:2.5em;
    font-family:"Bangers";
    text-decoration:underline;
}

.Perso-B h2 {
    display: flex;
    align-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
}

.Boss{
    width: 200px;
    height:auto;
    border: 2px black solid;
    border-radius: 5px 5px 5px 5px;
}

.Boss:hover {
    border: 2px rgba(255, 255, 255, 0.541) solid;
}

.texte {
    font-size:2em;
    display: flex;
    flex-direction: row;
    gap:13em;

}

.video {
    display:flex;
    gap:3em;
}

.G img {
    width: 29em;
    height: auto;
}

footer {
    background-color: grey;
}

.ytb {
    width: 40px;
    height: auto;
    position:absolute;
    left:4%;
}

.droits {
    width: 100px;
    height: auto;
}

.red {
    color:red;
}

footer p {
    background-color:#979797d5;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    text-align: center;
    line-height: 2;
    padding-left: 20px;
    max-width: 1300px;
    margin: 20px auto;
    border-radius: 10px 10px 10px 10px;
    font-size:2em;
}

.DLC {
    text-align:center;
    background-color:red;
    border:2px black solid;
    border-radius:10px;
    position:absolute;
    left:40%;
    font-size:2em;
    text-decoration:none;
    color:black;
}
